<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amwe.bokbytarapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.amwe.bokbytarapp.ControllerView.AccountPage.Settings"></activity>
        <activity android:name="com.amwe.bokbytarapp.ControllerView.EditListing" />
        <activity
            android:name="com.amwe.bokbytarapp.ControllerView.AddListing"
            android:exported="true" />
        <activity android:name="com.amwe.bokbytarapp.ControllerView.Login.Register" />
        <activity android:name="com.amwe.bokbytarapp.ControllerView.Login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.amwe.bokbytarapp.ControllerView.MainActivity" />
        <activity android:name="com.amwe.bokbytarapp.ControllerView.ListingPage" />
        <activity android:name="com.amwe.bokbytarapp.ControllerView.MessagePage.MessageListPage" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>